<div class="border-bottom row mt-3 mb-3" style='margin-bottom:10px; padding:4px'>
  <div class='col-10'>
   <div>
        <h5 style='color:rgb(255,0,0)';>
          {{job['name']}}</h5>
  </div>
      <div style='color:rgb(0,0,100); mt-4 mb-4'>
        {{job['info']}}
      </div>
  </div>
  <div class= 'col-2 padding-right:16px;'>
  <a href='mailto:{{job['Email']}}?subject=Application%20for%20appointment&body=Name%3A%20%3Center%20your%20name%3E%0D%0AAge%3A%20%3Center%20your%20age%3E%0D%0ADesc%3A%20%3Cmention%20the%20problem%20you%20are%20having%3E' type="button" class="btn btn-primary">Contact</a>
  </div>
</div>